#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.1.0
Name=Zany80
Comment=Z80-based fantasy console
Exec=zany80
Icon=zany80
Terminal=false
Type=Application
Categories=Game;Development
MimeType=application/x-rom-zany80
GenericName=Zany80
